.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-right: 1rem;
}

.navbg {
  background-color: transparent !important;
}

.signInBtn {
  /* display: flex !important; */
  vertical-align: middle;
  padding: 0;
  width: 94px !important;
  height: 24px !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #27b40c !important;
}

.bellIcon {
  color: #8997a4 !important;
  cursor: pointer;
}

.bg-notif {
  background-color: #27b40c !important;
  font-family: Segoe UI !important;
}

.Line-4 {
  width: 0;
  height: 30px;
  margin: 0;
  border: solid 0.5px #e8e4e440;
}

.profileCont {
  width: fit-content;
  height: 63px;
  color: #8997a4;
}

.imageDiv img {
  object-fit: cover;
  border-radius: 50% !important;
  width: 25px;
  height: 25px;
}

.dropIcon {
  cursor: pointer;
}

.wrapper {
  background-color: #f5f5f5;
  width: 98%;
  height: 100%;
  padding: 36px;
  border-top-right-radius: 2px;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Rectangle-898 {
  width: 106px !important;
  min-width: 106px !important;
  height: 1291px !important;
  margin: 0 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab) !important;
}

.Rectangle-898 .ant-menu {
  background: transparent !important;
  margin-top: 3rem !important;
}

.ant-menu-item-selected {
  background-color: #2765ac !important;
  border-left: solid 4px #59c203;
  border-radius: 0 !important;
}

.ant-menu-item {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 98px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding-right: 10px !important;
  padding-top: 15px !important;
  color: #fff !important;
}

.ant-menu-item .ant-menu-item-icon {
  font-size: 1.9rem !important;
  padding-left: 10px !important;
  position: relative !important;
}

.ant-menu-item:nth-child(4):before {
  content: "5";
  position: absolute;
  top: 6px;
  left: 59px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  width: 10px;
  height: 10px;
  font-size: 12px;
  background-color: red;
  z-index: 999;
}

.dropdown-menu {
  min-width: 0 !important;
  width: 80px !important;
  padding: 0;
  margin: 0;
  top: 54px !important;
}

@media only screen and (min-width: 375px) and (orientation: landscape) {
  .Rectangle-898 .ant-menu {
    margin-top: 0 !important;
  }
}
@media (max-width: 510px) {
  .ant-menu-item .ant-menu-item-icon {
    font-size: 1.3rem !important;
    padding-left: 10px !important;
  }

  .Rectangle-898 {
    width: 80px !important;
    min-width: 60px !important;
  }

  .ant-layout.site-layout {
    margin-left: 79px !important;
  }

  .wrapper {
    padding: 10px;
  }

  .ant-menu-item:nth-child(4):before {
    top: 10px;
    left: 43px;
    padding: 6px;
  }
}
